@charset 'utf-8';
html,
body {
  background-color: #eaeaea;
  height: 100%;
}
body {
  position: relative;
}
.show_date h3 {
  line-height: 2rem;
  background-color: #22c4f3;
  color: #fff;
  text-align: center;
}
.sideMenu {
  border: 1px solid #ddd;
}
.sideMenu h3 {
  height: 32px;
  line-height: 32px;
  padding-left: 10px;
  border-top: 1px solid #e3e3e3;
  background: #f4f4f4;
  cursor: pointer;
  font: normal 14px/32px "Microsoft YaHei";
}
.sideMenu h3 em {
  float: right;
  display: block;
  width: 40px;
  height: 32px;
  background: url(images/icoAdd.png) 16px 12px no-repeat;
  cursor: pointer;
}
.sideMenu h3.on em {
  background-position: 16px -57px;
}
.sideMenu ul {
  padding: 8px 25px;
  color: #999;
  display: none;
  /* 默认都隐藏 */
}
.show_main .show_title {
  width: 100%;
  padding-left: 1rem;
  line-height: 1.5rem;
  padding-left: 10px;
  border-top: 1px solid #e3e3e3;
  background: #f4f4f4;
  font: normal 14px/32px "Microsoft YaHei";
}
.show_main .show_title em {
  float: right;
  display: block;
  width: 2rem;
  height: 32px;
  background: url(../imgs/icoAdd.png) 16px 12px no-repeat;
}
.show_main .show_title.on em {
  background-position: 16px -57px;
}
.show_main .show_content {
  display: none;
}
.show_main .show_content li {
  margin-bottom: .5rem;
  background-color: #fff;
  overflow: hidden;
}
.show_main .show_content li span:nth-of-type(1) {
  text-align: right;
  float: left;
  width: 40%;
  line-height: 2rem;
  font-size: .8rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.show_main .show_content li span:nth-of-type(2) {
  display: inline-block;
  font-size: .8rem;
  text-align: left;
  width: 60%;
  line-height: 2rem;
  padding: 0 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.show_main .show_content li span:nth-of-type(2) p b {
  font-size: .7rem;
  color: #777;
}
.goOnePage {
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
.goOnePage img {
  width: 100%;
  border-radius: 50%;
}
