@charset 'utf-8';
html,
body,
.container {
  height: 100%;
}
body {
  position: relative;
}
.head_top h3 {
  line-height: 2rem;
  background-color: #22c4f3;
  text-align: center;
  color: #fff;
}
.main_list .show_title {
  width: 100%;
  padding-left: 1rem;
  line-height: 1.5rem;
  padding-left: 10px;
  border-top: 1px solid #e3e3e3;
  background: #f4f4f4;
  font: normal 14px/32px "Microsoft YaHei";
}
.main_list .show_title em {
  float: right;
  display: block;
  width: 2rem;
  height: 32px;
  background: url(../imgs/icoAdd.png) 16px 12px no-repeat;
}
.main_list .show_title.on em {
  background-position: 16px -57px;
}
.main_list .list_body {
  display: none;
}
.main_list .list_body li {
  margin-bottom: .5rem;
  line-height: 2rem;
  background-color: #fff;
}
.main_list .list_body li i {
  float: left;
  width: 50%;
  text-align: right;
  font-weight: 600;
  font-size: .7rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
.main_list .list_body li span {
  float: left;
  width: 50%;
  font-size: .7rem;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
.goOnePage {
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
.goOnePage img {
  width: 100%;
  border-radius: 50%;
}
